<!DOCTYPE html>
<!--
  @profesor
  Andres Sanoja
  @curso
  Analisis de Documentos en Archivos Webs
  @autor
  Erikson Agustin Rodriguez Morillo
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/js/propio.js"></script>
    <title>SEGQL</title>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top:2em;">
        <div class="col-4 alert-success">
          <h1>SEGQL</h1>
          <p>
            <strong>Documentaci&oacute;n:</strong> la estructura de la consulta
            debe ser de la siguiente manera,considerando saltos de lineas.
          </p>
          <p style="font-size:1em;">
            <strong>(SELECT|MERGE)</strong></br>
            (‘*’ | &lt;atributo&gt;[,&lt;atributo&gt;]*)</br>
            <strong>FROM</strong></br>
            &lt;URL&gt;</br>
            <strong>WHERE</strong></br>
            &lt;condici&oacute;n&gt;</br>
            <strong>ORDER BY</strong></br>
            (&lt;atributo&gt; [‘asc’ | ‘desc’][,])*</br>
            <strong>PARAMS</strong></br>
            &lt;parametro&gt;=&lt;valor&gt;[,&lt;parametro&gt;=&lt;valor&gt;]*</br>
          </p>
          <p>
            <strong>Función:</strong> es la operación a ejecutar. Por ejemplo <strong>select o merge.</strong></br>
            <strong>Select</strong>, devuelve una lista de bloques o blockset que cumplen con la condición, respetando el orden
            especificado.</br>
            <strong>Merge</strong>, devuelve un blockset luego de mezclar sus rectángulos, habiendo
            considerado las condiciones y parámetros de la segmentación.</br>
            <strong>Atributo:</strong> es cualquiera de los atributos presentes en la segmentación (ie el JSON
            producido).</br>
            <strong>URL:</strong> Es el url de la pagina registrada en el repositorio.</br>
            <strong>Condici&oacute;n:</strong> Una expresión en función de constantes, literales y &lt;atributos&gt;.</br>
            <strong>Params:</strong> parámetros de la segmentación. Si no se especifican se usa un valor por
            defecto.
            Para interpretar correctamente este tipo de instrucciones, la primera linea sera el select o
            merge. Al leer la segunda linea, se lee una lista delimitada por comas con los atributos a
            considerar. Luego se leería el from y así sucesivamente. Las lineas where, order by y
            params son opcionales, así como su condición, atributos y valores.
          </p>
        </div>
        <div class="col-8">
          <form action="segqlejecucion" method="post">
            <div class="form-group" style="margin-bottom: 5px;">
              <label for="exampleFormControlTextarea1">Editor de query</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="query" required><%= consulta %></textarea>
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 5px;">Ejecutar</button>
          </form>
          <div class="card text-center">          
            <div class="card-header text-muted" style="padding-top: 2px;padding-bottom: 2px;">
              <%= mensaje %>
            </div>
            <div class="card-footer text-muted" style="padding-top: 2px;padding-bottom: 2px;">              
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </div
  </body>
</html>
