<% if tabla != nil %>
   <table class="table"> 
      <thead>
         <% tabla.each do |f| %>   
            <tr>   
            <% f.each do |h,i| %>
            <th scope="col"><%= h %></th>
            <% end %>   
            </tr>
            <% break %>
         <% end %>
      </thead>
      <tbody>
         <% tabla.each do |f| %>   
            <tr>   
            <% f.each do |h,i| %>
            <td><%= i %></td>
            <% end %>   
            </tr>
         <% end %>
      </tbody>
   <table/>
<% end %>
